<div class="kuiSideBarSection">
  <div class="kuiSideBarSectionTitle">
    <div class="kuiSideBarSectionTitle__text">
      Display
    </div>
  </div>

  <div class="form-group">
    <label>Tension - {{ vis.params.tension/10 }}</label>
    <input type="range" ng-model="vis.params.tension" class="form-control" min="0" max="9" />
  </div>

  <div class="form-group">
    <label class="form-label" for="showScale">
      <input class="kuiCheckBox" id="showScale" type="checkbox" ng-model="vis.params.showScale">
      Show scale
    </label>
  </div>
</div>

<div class="kuiSideBarSection">
  <div class="kuiSideBarSectionTitle">
    <div class="kuiSideBarSectionTitle__text">
      Scale
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="useCustomScale">
      <input class="kuiCheckBox" id="useCustomScale" type="checkbox" ng-model="vis.params.useCustomScale">
      Use custom scale
    </label>
    <label class="form-label" for="minScale">
      <input id="minScale" type="number" ng-model="vis.params.minScale" ng-disabled="!vis.params.useCustomScale" less-than="vis.params.maxScale"
      >
      Min value
    </label>
    <label class="form-label" for="maxScale">
      <input id="maxScale" type="number" ng-model="vis.params.maxScale" ng-disabled="!vis.params.useCustomScale" greater-than="vis.params.minScale.value">
      Max value
    </label>
  </div>
</div>